<ion-view style="" id="page4" title="Aaron Pineda">
  <ion-content class="has-header" padding="true">
    <div>
      <img style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" src="img/vKtcY5yfSoabz7Uaed1y_ron.jpg">
    </div>
    <h2 style="color: rgb(0, 0, 0);" id="aaronPineda-heading6">Aaron Pineda</h2>
    <h3 style="color: rgb(0, 0, 0);" id="aaronPineda-heading7">Contact : </h3>
    <h4 style="color: rgb(0, 0, 0);" id="aaronPineda-heading10">09123155974</h4>
    <button class="button button-positive button-block icon ion-android-chat" id="aaronPineda-button11">Send message</button>
    <button class="button button-positive button-block button-outline icon ion-android-call" id="aaronPineda-button12">Call</button>
  </ion-content>
</ion-view>