<ion-view style="" id="page8" title="Add Contact">
  <ion-content class="has-header" padding="true">
    <form class="list" id="addContact-form5">
      <label id="addContact-input6" class="item item-input">
        <span class="input-label">Last Name</span>
        <input placeholder="" type="text">
      </label>
      <label id="addContact-input7" class="item item-input">
        <span class="input-label">First Name</span>
        <input placeholder="" type="text">
      </label>
      <label id="addContact-input8" class="item item-input">
        <span class="input-label">Contact Number</span>
        <input placeholder="" type="text">
      </label>
    </form>
  </ion-content>
</ion-view>