<ion-view style="" id="page6" title="Allen Soriano">
  <ion-content class="has-header" padding="true">
    <div>
      <img style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" src="img/b7eKBBkRnKQg7iFOel5s_allen.jpg">
    </div>
    <h3 style="color: rgb(0, 0, 0);" id="allenSoriano-heading14">Allen Soriano</h3>
    <h4 style="color: rgb(0, 0, 0);" id="allenSoriano-heading15">Contact</h4>
    <h5 style="color: rgb(0, 0, 0);" id="allenSoriano-heading16">0912351326361</h5>
    <div class="button-bar" id="allenSoriano-button-bar3">
      <button class="button button-positive button-block icon ion-android-call" id="allenSoriano-button25">Call</button>
      <button class="button button-positive button-block icon ion-android-list" id="allenSoriano-button26">Edit</button>
      <button class="button button-positive button-block" id="allenSoriano-button27">Delete</button>
    </div>
  </ion-content>
</ion-view>