<ion-view style="" id="page3" title="Angel Yabut">
  <ion-content class="has-header" padding="true">
    <div>
      <img style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" src="img/0GrBLiYGTa6lnVtmUJdn_chan.jpeg">
    </div>
    <h2 style="color: rgb(0, 0, 0);" id="angelYabut-heading4">Christian Angel</h2>
    <h3 style="color: rgb(0, 0, 0);" id="angelYabut-heading5">Contact :</h3>
    <h4 style="color: rgb(0, 0, 0);" id="angelYabut-heading9">09124313285</h4>
    <div class="button-bar" id="angelYabut-button-bar6">
      <button class="button button-positive button-block icon ion-android-call" id="angelYabut-button37">Call</button>
      <button class="button button-positive button-block icon ion-android-list" id="angelYabut-button38">Edit</button>
      <button class="button button-positive button-block" style="color:#FFFFFF;" id="angelYabut-button39">Delete</button>
    </div>
  </ion-content>
</ion-view>