<ion-view style="" id="page2" title="lois">
  <ion-content class="has-header" padding="true">
    <div>
      <img style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" src="img/gw0zn866QJacP4rb6n2I_image.jpg">
    </div>
    <h2 style="color: rgb(17, 44, 226);" id="lois-heading2">LoisPamintuan</h2>
    <h3 style="color: rgb(0, 0, 0);" id="lois-heading8">Contact</h3>
    <h4 style="color: rgb(0, 0, 0);" id="lois-heading3">0912335134135</h4>
    <div class="button-bar" id="lois-button-bar5">
      <button class="button button-positive button-block icon ion-android-call" id="lois-button34">Call</button>
      <button class="button button-positive button-block icon ion-android-list" id="lois-button35">Edit</button>
      <button class="button button-positive button-block" id="lois-button36">Delete</button>
    </div>
  </ion-content>
</ion-view>