<ion-view style="" id="page1" title="main">
  <ion-content class="has-header" padding="true">
    <h1 style="color: rgb(122, 14, 14); text-align: center;" id="main-heading1">Contacts</h1>
    <form class="list" id="main-form1">
      <label style="" id="main-search1" class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input placeholder="....." type="search">
      </label>
      <div class="button-bar" id="main-button-bar1">
        <a class="button button-positive button-block" id="main-button4" ui-sref="addContact()">Add</a>
        <button class="button button-positive button-block" id="main-button5">Edit</button>
        <button class="button button-positive button-block" id="main-button6">Delete</button>
      </div>
      <ion-item style="" ui-sref="lois()" id="main-list-item1" class="item-avatar positive">
        <img src="img/fWxqTZbOQZGZvekPKM60_image.jpg">
        <h2positive>Lois Pamintuan
          <p>09056203024</p>
        </h2positive>
      </ion-item>
      <ion-item style="" ui-sref="angelYabut()" id="main-list-item2" class="item-avatar positive">
        <img src="img/byVdUqwJQ96SRbMnQ5rd_chan.jpeg">
        <h2positive>Christian Angel
          <p>0912736013</p>
        </h2positive>
      </ion-item>
      <ion-item style="" ui-sref="aaronPineda()" id="main-list-item3" class="item-avatar positive">
        <img src="img/LoHYP5fjSzGAVmWemsz9_renz.jpg">
        <h2positive>Aaron Pineda
          <p>09123542346</p>
        </h2positive>
      </ion-item>
      <ion-item style="" ui-sref="ranceJeno()" id="main-list-item4" class="item-avatar positive">
        <img src="img/OkAXkireTjSp4Oh70At2_jeno.jpg">
        <h2positive>Rance Jeno
          <p>091284312345</p>
        </h2positive>
      </ion-item>
      <ion-item style="" ui-sref="rafaelBondoc()" id="main-list-item6" class="item-avatar positive">
        <img src="img/yr7M5HSsSSlmjIyszgkA_raf.jpg">
        <h2positive>Rafael Bondoc
          <p>091324531352</p>
        </h2positive>
      </ion-item>
      <ion-item style="" ui-sref="allenSoriano()" id="main-list-item5" class="item-avatar positive">
        <img src="img/ww0Gj8mZQpiK1KaSlmO7_allen.jpg">
        <h2positive>Allen Soriano
          <p>09125415234</p>
        </h2positive>
      </ion-item>
    </form>
  </ion-content>
</ion-view>