<ion-view style="" id="page7" title="Rafael Bondoc">
  <ion-content class="has-header" padding="true">
    <div>
      <img style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" src="img/U76PyVb0RHawpEQt6i25_raf.jpg">
    </div>
    <h3 style="color: rgb(0, 0, 0);" id="rafaelBondoc-heading17">Rafael Bondoc</h3>
    <h4 style="color: rgb(0, 0, 0);" id="rafaelBondoc-heading18">Contact</h4>
    <h5 style="color: rgb(0, 0, 0);" id="rafaelBondoc-heading19">0912415425131</h5>
    <div class="button-bar" id="rafaelBondoc-button-bar4">
      <button class="button button-positive button-block icon ion-android-call" id="rafaelBondoc-button31">Call</button>
      <button class="button button-positive button-block icon ion-android-list" id="rafaelBondoc-button32">Edit</button>
      <button class="button button-positive button-block" id="rafaelBondoc-button33">Delete</button>
    </div>
  </ion-content>
</ion-view>