<ion-view style="" id="page5" title="Rance Jeno">
  <ion-content class="has-header" padding="true">
    <div>
      <img style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" src="img/J7wPm76tSmCIYy26krxo_jeno.jpg">
    </div>
    <h2 style="color: rgb(0, 0, 0);" id="ranceJeno-heading11">Rance Jeno</h2>
    <h3 style="color: rgb(0, 0, 0);" id="ranceJeno-heading12">Contact</h3>
    <h4 style="color: rgb(0, 0, 0);" id="ranceJeno-heading13">091234312561</h4>
    <div class="button-bar" id="ranceJeno-button-bar2">
      <button class="button button-positive button-block icon ion-android-call" id="ranceJeno-button18">Call</button>
      <button class="button button-positive button-block icon ion-android-list" id="ranceJeno-button19">Edit</button>
      <button class="button button-positive button-block" id="ranceJeno-button20">Delete</button>
    </div>
  </ion-content>
</ion-view>